{{/* prettier-ignore-start */}}
{{- define "title" }}
{{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}

{{ $trimtagslist := slice  }}
{{ $excludeposttaglist := slice }}
{{ $onlyincludeposttaglist := slice "100daysofcode" }}

{{/* lowercase tags only to simplify */}}
<div class="page archive wide" style="display:block; overflow:auto !important;">
  {{- /* Title */ -}}
  <h4 class="single-title animated pulse faster">
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
  </h4>

  {{- /* Paginate */ -}}
  {{ $pages := (where .Site.RegularPages.ByTitle "Section" "posts" ) }}
  {{ $section := .Section }}

  {{- if $pages -}}
      {{- $pages_groupbydate := $pages.GroupByDate "2006" -}}
      {{- range $pg := $pages_groupbydate -}}
          <h4 class="group-title">{{ .Key }}</h3>
          {{- range $pg.Pages -}}
                  {{- $params := .Scratch.Get "params" -}}
                  {{ $tags := slice }}
                  {{ $counter := 0 }}
                  {{ $includecounter := 0 }}

                  {{/* filter out certain tags from showing in list as not specific enough */}}
                  {{ range $t := $params.tags }}

                    {{/* If match any tag in this, exclude from the list */}}
                    {{ if (in $excludeposttaglist (lower .) ) }}
                      {{ $counter = add $counter 1 }}
                    {{ end }}


                    {{/* exclude certain tags from showing up in list as not specific enough */}}
                    {{ if not (in $trimtagslist (lower .)) }}
                      {{ $tags = $tags | append $t }}
                    {{ end }}

                    {{/* If match any tag in this, include in the list */}}
                    {{ if in $onlyincludeposttaglist (lower .) }}
                      {{ $includecounter = add $includecounter 1 }}
                    {{ end }}

                  {{ end }}

                  {{ if and (eq $counter 0) (gt $includecounter 1) }}
                    <article class="archive-item" >

                    {{/* With older microblog posts I didn't set a title. Use an excerpt from the text to generate a title rather than display datetime as the title */}}
                    <a href="{{- .RelPermalink -}}" style="width:90%;" class="archive-item-link">
                      {{- if (findRE `\d{4}-\d{2}-\d{2}` .Title) -}}
                      {{.Content | plainify | htmlUnescape | truncate 60 -}}
                      {{ else if in .Params.tags "microblog"}}
                      {{- .Title -}}
                      {{ else }}
                      {{- .Title -}}
                      {{ end -}}
                    </span>

                    {{- if .Params.Draft -}}
                    <div class="posttag draft">draft</div>
                    {{- end -}}
                    {{- if gt .Params.date now -}}
                    <div class="posttag scheduled">scheduled</div>
                    {{- end -}}


                      <span class="post-meta">
                        {{- with $tags -}}
                          <span class="post-meta-line post-tags archive-item-date" style="size: 50%; font-size:0.8em; margin-left:20px;">
                            <i class="fas fa-tags fa-fw"></i>&nbsp;
                            {{- range $index, $value := . -}}
                              {{- if gt $index 0 }},&nbsp;{{ end -}}
                            {{ . }}
                            {{- end -}}
                          </span>
                        {{- end -}}

                        <span class="post-meta-line archive-item-date" style="float:right; width:auto;">
                          {{- with .Site.Params.dateformat | default "2006-01-02" | .PublishDate.Format -}}
                          <i class="far fa-calendar-alt fa-fw"></i>&nbsp;<time datetime="{{ . }}">{{ . }}</time>&nbsp;
                          {{- end -}}
                        </span>
                      </span>
                    </a>
                    </article>
                  {{- end -}}
          {{- end -}}
      {{- end -}}
        {{- partial "paginator.html" . -}}
  {{- end -}}

  </div>
{{- end -}}
{{/* prettier-ignore-end */}}