export DIRENV_WARN_TIMEOUT=10s
export DIRENV_LOG_FORMAT=""

# use asdf || printf "\n\n✖️ [PROJECT ALERT] asdf not hooked into session. Need direnvrc added to $HOME/.config/direnv/direnvrc\n\nWith the following content: source \"\$(asdf direnv hook asdf)\""
# sudo cp ".devcontainer/direnvrc" "$HOME/.config/direnv/direnvrc" && printf "✔️  copied .direnvrc\n"

source_env_if_exists "$HOME/.envrc"

export MAGEFILE_ENABLE_COLOR=1
export MAGEFILE_HASHFAST=1 # use -f to rebuild. This speeds up local usage of tasks when not tweaking/adjusting.
export DOCKER_BUILDKIT=1
export GOPATH="${HOME}/go"
export PATH="${HOME}/go/bin:${PATH}"
export SHELL="/usr/bin/zsh"
