export DIRENV_WARN_TIMEOUT=10s
export DIRENV_LOG_FORMAT=""
export MAGEFILE_ENABLE_COLOR=1
export MAGEFILE_HASHFAST=1 # use -f to rebuild. This speeds up local usage of tasks when not tweaking/adjusting.
export DOCKER_BUILDKIT=1
export PATH="${AQUA_ROOT_DIR:-${XDG_DATA_HOME:-$HOME/.local/share}/aquaproj-aqua}/bin:${PATH}"
