# use nix

if [[ -e "$HOME/.asdf/asdf.sh" ]]; then
    source "$HOME/.asdf/asdf.sh"
    printf "✔️️ asdf loaded from %s/.asdf\n" "$HOME"
    source "$(asdf direnv hook asdf)"
    use asdf
    printf "✔️️ asdf direnv hook asdf sourced. you can run asdf install now.\n"
fi

if [[ -e "/usr/local/opt/asdf/libexec/asdf.sh" ]]; then
    source "/usr/local/opt/asdf/libexec/asdf.sh"
    printf "✔️️ asdf loaded from libex path\n"
    source "$(asdf direnv hook asdf)"
    use asdf
    printf "✔️️ asdf direnv hook asdf sourced. you can run asdf install now.\n"
fi
