/* Disqus Comments */
#disqus-container {
  text-align: center;
}
#disqus-button {
  width: 75%;
  padding: 0.25em 0.75em;
  background-color: #3e5a47;
  color: $text;
  border:none;
}
 #disabled-comments {
   display: none;
 }
