



/* START CUSTOM GIST STYLE */

.markdown-body, .entry-content {

    background-image: linear-gradient(to bottom, #2a2139 75%, #34294f);
    /* Active tab neon */
    box-shadow: inset 0 -5px 25px #fc28a825;
    position: relative;
}

.gist .markdown-body .highlight pre, .gist .markdown-body pre {
    width:100%;
}
/* Gist Custom Syntax Highlighting CSS
--------------------------------------------- */
body .gist .gist-file , .gist:visited{
    /* border: none; */
    border-color:#293134;
    border-bottom: none;
    // background: #293134;
    color: #A0A8B3;
    text-decoration: none;
    font-family: $code-fonts;
    box-shadow: 2px 4px 10px rgba(0,0,0,.5);


  }

  body .gist .gist-data {
    background: #293134;
    border-radius: 4px 4px 0 0;
    color: $text;

    line-height: 1.4;

  /*   // padding: 16px 16px 0; */
  }

  body .gist .gist-data .blob-wrapper {
    max-width: 100%;
    padding-bottom: 16px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  body .gist .highlight {
    background: #293134;
    max-width: 800px;
    // overflow-x: scroll; // This causes double scrollbar
    border: none;
     background: rgba(56, 4, 40, .9);
     font-family:$code-fonts;
     font-size:1.4em;
  }

  body .gist .highlight td, body .gist .highlight tbody {
    border: none;
  }

  body .gist .blob-num,
  body .gist .blob-code-inner,
  body .gist .pl-ent,
  body .gist .pl-s1,
  body .gist .pl-s1 .pl-s2,
  body .gist .pl-smi,
  body .gist .pl-smp,
  body .gist .pl-stj,
  body .gist .pl-vo,
  body .gist .pl-vpf {
    color: #e0e2e4;
    // font-size:0.7em;
  }

  body .gist .pl-c,
  body .gist .pl-c span {
    color: #66747b;
    font-style: italic;
  }

  body .gist .pl-mb {
    color: #ec7600;
    font-weight: 700;
  }

  body .gist .pl-mh .pl-en {
    color: #66747b;
    font-weight: 700;
  }

  body .gist .pl-mi {
    color: #93c763;
    font-style: italic;
  }

  body .gist .pl-sc {
    color: #96989a;
  }

  body .gist .pl-st {
    color: #da4236;
  }

  body .gist .pl-c1 > .pl-c1 {
    color: #678cb1;
  }

  body .gist .pl-c1,
  body .gist .pl-sr .pl-cce {
    color: #ffcd22;
  }

  body .gist .pl-e,
  body .gist .pl-k,
  body .gist .pl-mdh,
  body .gist .pl-mdr,
  body .gist .pl-ml,
  body .gist .pl-mm,
  body .gist .pl-mo,
  body .gist .pl-mp,
  body .gist .pl-mr,
  body .gist .pl-ms,
  body .gist .pl-s1 .pl-v,
  body .gist .pl-s3 {
    color: #93c763;
  }

  body .gist .pl-en,
  body .gist .pl-v {
    color: #678cb1;
  }

  body .gist .pl-mh,
  body .gist .pl-mq {
    color: #66747b;
  }

  body .gist .pl-pds,
  body .gist .pl-s,
  body .gist .pl-s1 .pl-pse .pl-s2,
  body .gist .pl-sv {
    color: #ec7600;
  }

  body .gist .pl-sr,
  body .gist .pl-sr .pl-sra,
  body .gist .pl-sr .pl-sre,
  body .gist .pl-src {
    color: #d39745;
  }

  body .gist .pl-mi1,
  body .gist .pl-mdht {
    color: #e0e2e4;
    background: rgba(0, 64, 0, 0.5);
  }

  body .gist .pl-md,
  body .gist .pl-mdhf,
  body .gist .pl-id,
  body .gist .pl-ii {
    color: #e0e2e4;
    background: rgba(64, 0, 0, 0.5);
  }

  body .gist .gist-meta {
    background: #ccc;
    border-radius: 0 0 4px 4px;
    font-size: 14px;
    padding: 6px 16px;
    color:$text!important;
    background-image: linear-gradient(to bottom, #2a2139 75%, #34294f);
    /* Active tab neon */
    box-shadow: inset 0 -5px 25px #fc28a825;
    position: relative;


  }

  body .gist .gist-meta a {
    color: #E96B2C;
    // background-color: $theme;
  }

  body .gist .gist-meta a:hover {
    color:$text !important;
  }
  /* SHELDON: added to make footer links not orange */
  div.gist-meta a {
    color:$text !important; // LINK COLOR FOR GISTS
    filter: drop-shadow(0 0 3px #03edf9);

  }


  /* */
  /* copy code */
  pre .copy-to-clipboard {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #18191a;
    color: #ccc;
    border-radius: 2px;
    width: 80px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
    font-size: 14px;
    opacity: 0.25
  }

  .copy-active, pre .copy-to-clipboard:hover  {
  /* todo this isn't right... */
  opacity: 1 !important;
  }

  .copy-to-clipboard:hover {
  cursor: pointer;
  }
  .block-code-code pre {
  position: relative;
  }


// pre,
// code,
// pre tt {
//   font-family: $code, monospace!important;
//   font-size:0.625rem;
// }
//code {
//    background-color:#212224;
//}

.gist{
 background: rgba(56, 4, 40, .9);
}