.feedio-subscribe {
    border: 1px solid #c6cd;
    padding: 3px;
    text-align: center;
    color: #c6cddb;

    button,
    input[type="submit"],
     .feedio-submit {
        display: inline-block;
        border: none;
        padding: 1rem 2rem;
        margin: 0;
        text-decoration: none;
        background: #0069ed!important;
        color: $dark-grey;
        font-family: sans-serif;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:hover,
        &:focus {
            background: #0053ba;
        }

        &:focus {
            outline: 1px solid #fff;
            outline-offset: -4px;
        }

        &:active {
            transform: scale(0.99);
        }
    }

    // .feedio-submit {
    //     display: inline-block;
    //     border: none;
    //     padding: 1rem 2rem;
    //     margin: 0;
    //     text-decoration: none;
    //     background: #0069ed;
    //     color: $dark-grey;
    //     font-family: sans-serif;
    //     font-size: 1rem;
    //     cursor: pointer;
    //     text-align: center;
    //     transition: background 250ms ease-in-out, transform 150ms ease;
    //     -webkit-appearance: none;
    //     -moz-appearance: none;
    // }

    .feedio-email {
        background: black !important;
        width: 140px;
    }
}
