#postInfoLeft {
    max-width:50%;
    float:left;
    }
#postInfoRight {
    padding-left:20px;
    width:50%;
    float:left;

}
.listmonth {
    color:$light-grey;
    margin-right:15px;
}


#site-header {
  box-shadow: inset 0 -5px 25px #fc28a825!important;
  position: relative;
}

.hdr-left, .hdr-right, .post-header, h2,.post-year {
    filter: drop-shadow(0 0 2px #03edf9);
}

.listmonth {
    filter: drop-shadow(0 0 .4px #03edf9);
}