@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

#postInfoLeft {
    max-width:50%;
    float:left;
    }
#postInfoRight {
    padding-left:20px;
    width:50%;
    float:left;

}
.listmonth {
    color:$light-grey;
    margin-right:15px;
}


#site-header {
  box-shadow: inset 0 -5px 25px #fc28a825!important;
  position: relative;
}

.hdr-left, .hdr-right, .post-header, h2,.post-year {
    filter: drop-shadow(0 0 2px #03edf9);
}

.listmonth {
    filter: drop-shadow(0 0 .4px #03edf9);
}

#home-title, .search-button {
    filter: drop-shadow(0 0 9px #03edf9);
}
.site-branding {
    filter: drop-shadow(0 0 6px #03edf9);
}
.site-nav, .feather {
    filter: drop-shadow(0 0 .5px #03edf9);

}
