// TODO: this should be in header to my knowledge, not in my page itself

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

.mbh-notification-box {
    .title {
        float:left;
        border-bottom: 4px !important;
        border-color:$theme;
    }

    -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      color: #ffffff;
      font-family: 'Open Sans', sans-serif;
    margin-bottom: 25px;
      padding: 10px 14px 10px 44px;
      position: relative;
      width: -moz-fit-content;
      width: -webkit-fit-content;
      width: fit-content;
  }
      .mbh-notification-box:before {
          font-family: FontAwesome;
          font-size: 21px;
          left: 14px;
          position: absolute;
      }
  .mbh-success {
      background-color: #2ecc71;
  }
      .mbh-success:before {
          content: "\f00c";
          margin-left: -2px;
      }
  .mbh-failure {
      background-color: #e74c3c;
  }
      .mbh-failure:before {
          content: "\f00d";
      }
  .mbh-warning {
      background-color: #e67e22;
  }
      .mbh-warning:before {
          content: "\f12a";
          margin-left: 5px;
      }
  .mbh-information {
      background-color: #3498db;
  }
      .mbh-information:before {
          content: "\f129";
          margin-left: 4px;
      }
  .mbh-question {
      background-color: #f1c40f;
  }
      .mbh-question:before {
          content: "\f128";
          margin-left: 2px;
      }
  .mbh-tip {
      background-color: #16a085;
  }
      .mbh-tip:before {
          content: "\f0eb";
          margin-left: 2px;
      }
  .mbh-notice {
      background-color: #bea474;
  }
      .mbh-notice:before {
          content: "\f0a1";
          margin-left: -1px;
      }