@import url('//maxcdn.bootstrapcdn.com/font-awesome/5.8.1/css/font-awesome.min.css');

// PREMONITION
.premonition {
    $premonition-default-color: #5bc0de;
    $premonition-background-default: $dark-grey;
    $premonition-info-color: #50af51;
    $premonition-info-light-color: $dark-grey;
    $premonition-warning-color: #f0ad4e;
    $premonition-warning-light-color: $dark-grey;
    $premonition-error-color: #d9534f;
    $premonition-error-light-color: $dark-grey;
    $premonition-content-color: $text;

      display: grid;
      grid-template-columns: 43px auto;
      padding-top: 13px;
      padding-bottom: 6px;
      margin: 30px 0 30px 0;
      background-color: $premonition-background-default;
      border-left: 4px solid $premonition-default-color;
      color: $premonition-default-color;

      code {
       // background-color: #fff;
        color: $premonition-default-color;
      }

      .header {
        font-weight: 700;
        font-size: 15px;
        color: $premonition-default-color;
      }

      .fa {
        font-size: 18px;
        opacity: .3;
        padding-top: 2px;
        padding-left: 20px;
      }

      .content {
        color: $premonition-content-color;
        padding-right: 40px;
      }

      @mixin box-type($c, $lc) {
        background-color: $lc;
        color: $c;
        border-color: $c;

        a {
          color: $c;
          text-decoration: underline;
        }
        code {
          color: $c;
        }
        .header {
          color: $c;
        }
      }

      &.info { @include box-type($premonition-info-color, $premonition-info-light-color); }
      &.warning { @include box-type($premonition-warning-color, $premonition-warning-light-color); }
      &.error { @include box-type($premonition-error-color, $premonition-error-light-color); }
    }
  // PREMONITION END
  /* .premonition {
      display: grid;
      grid-template-columns: 43px auto;
      padding-top: 13px;
      padding-bottom: 6px;
      margin: 30px 0 30px 0;
      background-color: #e3edf2;
      border-left: 4px solid #5bc0de;
      color: #5bc0de;
    }

    .premonition code {
      background-color: #fff;
      color: #5bc0de;
    }

    .premonition .header {
      font-weight: 700;
      font-size: 15px;
      color: #5bc0de;
    }

    .premonition .fa {
      font-size: 18px;
      opacity: .3;
      padding-top: 2px;
      padding-left: 20px;
    }

    .premonition .content {
      color: rgba(0, 0, 0, 0.5);
      padding-right: 40px;
    }

    .premonition.info {
      background-color: #f3f8f3;
      color: #50af51;
      border-color: #50af51;
    }

    .premonition.info a {
      color: #50af51;
      text-decoration: underline;
    }

    .premonition.info code {
      color: #50af51;
    }

    .premonition.info .header {
      color: #50af51;
    }

    .premonition.warning {
      background-color: #fcf8f2;
      color: #f0ad4e;
      border-color: #f0ad4e;
    }

    .premonition.warning a {
      color: #f0ad4e;
      text-decoration: underline;
    }

    .premonition.warning code {
      color: #f0ad4e;
    }

    .premonition.warning .header {
      color: #f0ad4e;
    }

    .premonition.error {
      background-color: #fdf7f7;
      color: #d9534f;
      border-color: #d9534f;
    }

    .premonition.error a {
      color: #d9534f;
      text-decoration: underline;
    }

    .premonition.error code {
      color: #d9534f;
    }

    .premonition.error .header {
      color: #d9534f;
    }
 */