// #search-overlay {
//   margin-top: 25px;
//   margin-right:25px;
//   width: 250px;
//   z-index: 10;
//   position: absolute;
//   right: 0;
//   top: 0;
//   color: $text;

// }
// .search-input {
//     background-color: $dark-grey;
//     color: $text ;
//     border:0px;
// }

// #searchButton {
//   display:inline-block;
// }
// #searchButton.visible {
//   display:none;
// }
.wrapper  {
  display:inline-block;
  width:100%;
}
.search-trigger {
  margin-top: 25px;
  margin-right: 25px;
  width: 250px;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
}

#search-overlay {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: none;
  background: $theme;
  overflow-y: scroll;
}
.search-input-line {
  /* margin-bottom: 5px; */
  margin: 0 auto;
  display:inline-block;
  width:60%;
}
#search-input {
  margin: 0 auto;
  display:block;
  width: 50%;
  font-size: 40px;
  padding: 5px 5px;
  border: 1px solid #d0d0d0;
  outline: none;
  background: $theme;
}
#search-input:focus {
  -webkit-box-shadow: 0px 0px 4px 0px $midnightblue;
  box-shadow: 0px 0px 4px 0px $midnightblue;
}
.search-title {
  font-weight: 400;
  letter-spacing: 0;
  font-size: 20px;
  color: #222;
  text-align: center;
}
.search-help {
  text-align: right;
  margin-top: 0;
  display:inline-block;
}
.search-help .key {
  background: $theme;
  border: 1px solid $light-grey;
  border-radius: 2px;
  padding: 1px;
}
#search-results {
  margin-top: 40px;
}
#search-results ul li {
  list-style-type: none;
  margin: 0;
}
#search-results ul li a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: $text;
  display: block;
  /* font: 700 19px/1.7 "Helvetica Neue", helvetica, Arial, sans-serif; */
}
#search-results ul li a:focus,
#search-results ul li a:hover {
  color: #5694f1;
}
.icon-cancel-circled:before {
  content: "\e801";
}
.icon-search:before {
  content: "\e802";
}

#search-close {
  margin-top: 25px;
  margin-right: 25px;
  width: 250px;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 40px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .search-help {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  #search-close {
    right: 30px;
  }
}
@media screen and (max-width: 540px) {
  #search-close {
    right: 10px;
  }
}
// /* ==========================================================================
//    SEARCH
//    ========================================================================== */

//    .layout--search {
//     .archive__item-teaser {
//       margin-bottom: 0.25em;
//     }
//   }

//   .search__toggle {
//     margin-left: 1rem;
//     margin-right: 1rem;
//     height: $nav-toggle-height;
//     border: 0;
//     outline: none;
//     color: $theme;
//     background-color: transparent;
//     cursor: pointer;
//     -webkit-transition: 0.2s;
//     transition: 0.2s;

//     &:hover {
//       color: mix(#000, $theme, 25%);
//     }
//   }

//   .search-icon {
//     width: 100%;
//     height: 100%;
//   }

//   .search-content {
//     display: none;
//     visibility: hidden;
//     padding-top: 1em;
//     padding-bottom: 1em;

//     &__inner-wrap {
//       width: 100%;
//       margin-left: auto;
//       margin-right: auto;
//       padding-left: 1em;
//       padding-right: 1em;
//       -webkit-animation: $intro-transition;
//       animation: $intro-transition;
//       -webkit-animation-delay: 0.15s;
//       animation-delay: 0.15s;

//       @include breakpoint($x-large) {
//         max-width: $x-large;
//       }
//     }

//     .search-input {
//       display: block;
//       margin-bottom: 0;
//       padding: 0;
//       border: none;
//       outline: none;
//       box-shadow: none;
//       background-color: transparent;
//       font-size: $type-size-3;

//       @include breakpoint($large) {
//         font-size: $type-size-2;
//       }

//       @include breakpoint($x-large) {
//         font-size: $type-size-1;
//       }
//     }

//     &.is--visible {
//       display: block;
//       visibility: visible;

//       &::after {
//         content: "";
//         display: block;
//       }
//     }

//     .results__found {
//       margin-top: 0.5em;
//       font-size: $type-size-6;
//     }

//     .archive__item {
//       margin-bottom: 2em;

//       @include breakpoint($large) {
//         width: 75%;
//       }

//       @include breakpoint($x-large) {
//         width: 50%;
//       }
//     }

//     .archive__item-title {
//       margin-top: 0;
//     }

//     .archive__item-excerpt {
//       margin-bottom: 0;
//     }
//   }

//   /* Algolia search */

//   .ais-search-box {
//     max-width: 100% !important;
//     margin-bottom: 2em;
//   }

//   .archive__item-title .ais-Highlight {
//     color: $theme;
//     font-style: normal;
//     text-decoration: underline;
//   }
//   .archive__item-excerpt .ais-Highlight {
//     color: $theme;
//     font-style: normal;
//     font-weight: bold;
//   }
