{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}

{{ define "main" }}

{{ $pages := (where .Site.RegularPages "Section" "in" (slice "microblog" "blog")) }}
{{ $sections := .Site.Params.mainSections }}
{{ $.Scratch.Set "authors" (slice ) }}
{{ $.Scratch.Set "noAuthors" 0 }}

{{ range where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ with .Params.author }}
{{ if eq ( printf "%T" . ) "string" }}
{{ if ( not ( in ($.Scratch.Get "authors") . ) ) }}
{{ $.Scratch.Add "authors" . }}
{{ end }}
{{ else if ( printf "%T" . ) "[]string" }}
{{ range . }}
{{ if ( not ( in ($.Scratch.Get "authors") . ) ) }}
{{ $.Scratch.Add "authors" . }}
{{ end }}
{{ end }}
{{ end }}
{{ else }}
{{ $.Scratch.Add "noAuthors" 1 }}
{{ end }}
{{ end }}


{{ $tags := $.Site.Taxonomies.tags.ByCount }}

{{ $.Scratch.Set "untagged" 0 }}
{{ range $pages }}
{{ with .Params.tags }}{{ else }}{{ $.Scratch.Add "untagged" 1 }}{{ end }}
{{ end }}


<main class="site-main section-inner thin animated fadeIn faster">
    <h1>{{ .Title }}
        <span class="tf-buttons-container flex-grow">
        <!-- <h2><span id="selectedItemCount"></span> Items</h2> -->
        <button xx id="selectAllSections" onclick="htf.showAll('section')" >
            All Sections
        </button>
        {{ range $sections }}
        <button xx class="sect-button" id="sect-{{ . | urlize }}" onclick="htf.checkFilter('{{ . | urlize }}', 'sect-')">
            {{ . | title }} <span id="ssect-{{ . | urlize }}"> -count-</span> | <span id="csect-{{ . | urlize }}">
                -count-</span>
        </button>
        {{ end }}

        {{ with .Resources.GetMatch "section.md" }}
        {{ partial "accordion.html" (dict "panelLabel" "Section Buttons" "panelContent" .Content )}}
        {{ end }}
    </span>
    </h1>

    {{- if .Content }}
    <div class="content">
        {{ .Content }}
    </div>
    {{- end }}
    {{ range $pages.GroupByDate "January 2006" }}
        <div class="posts-group">
            <div class="post-year" id="{{ .Key }}">{{ .Key }}</div>
            <ul class="posts-list">
                {{- range .Pages }}
                    {{$section := .Section}}
                    <div class="tf-filter-item" data-tags="{{ with .Params.tags }}{{ range . }}{{ . | replaceRE " [.]" "_" | urlize }} {{ end}}{{ else }} tfuntagged{{ end }}"
                          data-section="{{ .Section }}"
                    >
                        <li class="post-item"
                          data-tags="{{ with .Params.tags }}{{ range . }}{{ . | replaceRE " [.]" "_" | urlize }} {{ end}}{{ else }} tfuntagged{{ end }}"
                          data-section="{{ .Section }}"
                          >
                            <a href="{{.Permalink}}">
                                <span class="post-title"><span class="listmonth">{{ dateFormat "01-02" .Date }}</span>

                                    {{- if .Params.Draft -}}
                                    <div class="posttag draft">draft</div>
                                    {{- end -}}
                                    {{- if gt .Params.date now -}}
                                    <div class="posttag scheduled">scheduled</div>
                                    {{- end -}}

                                    {{- if in .Params.tags "microblog" -}}
                                    <span class="microtag"><span class="tag">microblog</span>
                                        {{- end -}}

                                        {{- if (findRE `\d{4}-\d{2}-\d{2}` .Title) -}}
                                        {{.Content | plainify | htmlUnescape | truncate 60 -}}
                                        {{ else if in .Params.tags "microblog"}}
                                        {{- .Title -}}
                                        {{ else }}
                                        {{- .Title -}}
                                        {{ end -}}
                                    </span>
                                    <span class="post-day">{{ .Date.Format (.Site.Params.dateFormat | default "") }}</span>
                            </a>
                        </li>
                    </div>
                {{- end }}
            </ul>
    </div>
    {{- end }}

</main>

{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ $script := resources.Get "js/hugo-tags-filter.js" | minify | fingerprint -}}
<script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}></script>

<script>
    var htfConfig = {
        filters: [
            {
                name: 'section',
                prefix: 'sect-',
                buttonClass: 'sect-button',
                allSelector: '#selectAllSections',
                attrName: 'data-section',
                selectedPrefix: 'ssect-',
                countPrefix: 'csect-'
            }
        ],
        showItemClass: "show-item",
        filterItemClass: "tf-filter-item",
        activeButtonClass: "active",
        counterSelector: "selectedItemCount",
        populateCount: true,
        setDisabledButtonClass: "disable-button"
    }
    var htf = new HugoTagsFilter(htfConfig);
</script>
<script>
    function toggleAcc(el) {
        el.classList.toggle("active")
        var panel = el.nextElementSibling;
        if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
        } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
        }
    }
</script>

{{ end }}
