{{ define "head" }}
    {{ if .Params.featuredImg -}}
    <style>.featured-image {background-image: url('{{.Params.featuredImg}}');}</style>
    {{- else if .Params.images -}}
        {{- range first 1 .Params.images -}}
        <style>.featured-image {background-image: url('{{. | absURL}}');}</style>
        {{- end -}}
    {{- end -}}
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
    {{- if (or .Params.images .Params.featuredImg) }}
    <div class="featured-image"></div>
    {{- end }}
    <main class="site-main section-inner animated fadeIn faster">
        <article class="thin">
            <header class="post-header">
                <h1>{{ .Title }}</h1>
            </header>
            {{- if .Params.toc }}
            <aside id="toc">
                <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                {{ .TableOfContents }}
            </aside>
            {{- end }}
            <div class="content">
                {{ partial "series.html" . }}
                {{ .Content | replaceRE "(<h[1-6] id=\"([^\"]+)\".+)(</h[1-6]+>)" `${1}<a href="#${2}" class="anchor" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path><line x1="8" y1="12" x2="16" y2="12"></line></svg></a>${3}` | safeHTML }}
            </div>
            <hr class="post-end">
            {{ partial "post-info.html" . }}

        </article>
        <div class="post-nav thin">
            {{- with .NextInSection }}
            <a class="next-post" href="{{ .Permalink }}">
                <span class="post-nav-label"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>&nbsp;{{ i18n "newer" }}</span><br><span>{{ .Title }}</span>
            </a>
            {{- end }}
            {{- with .PrevInSection }}
            <a class="prev-post" href="{{ .Permalink }}">
                <span class="post-nav-label">{{ i18n "older" }}&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></span><br><span>{{ .Title }}</span>
            </a>
            {{- end }}
        </div>
        <div id="utterances-container">
            {{- partial "utterances.html" . -}}
        </div>
    </main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
