{{ define "head" }}
<meta name="robots"
    content="{{ if eq .Params.robots "" }}{{ .Site.Params.robots }}{{ else }}{{ .Params.robots }}{{ end }}">
{{ if .Params.featuredImg -}}
<style>
    .bg-img {
        background-image: url('{{.Params.featuredImg}}');
    }
</style>
{{- else if .Params.images -}}
{{- range first 1 .Params.images -}}
<style>
    .bg-img {
        background-image: url('{{. | absURL}}');
    }
</style>
{{- end -}}
{{- end -}}
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
{{- if (or .Params.images .Params.featuredImg) }}
<div class="bg-img"></div>
{{- end }}
<main class="site-main section-inner thin animated fadeIn faster">
    <div class="content">

        <script src="https://cdn.jsdelivr.net/npm/algoliasearch@3.32.0/dist/algoliasearchLite.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@^4.0.0"></script>

        <!-- {{ $script := resources.Get "js/search.js" | minify | fingerprint -}}
            <script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}></script> -->


        <script>
            /* Open when someone clicks on the span element */
            function openNav() {
                document.getElementById("search-overlay").style.width = "100%";
                document.getElementById("searchButton").style.display = "none";
                // document.getElementById("search").focus();
            }

            /* Close when someone clicks on the "x" symbol inside the overlay */
            function closeNav() {
                document.getElementById("search-overlay").style.width = "0%";
                document.getElementById("searchButton").style.display = "block";

            }
        </script>
        <!-- <script>

            // const search = instantsearch({
            //     indexName: 'sheldonhull',
            //     appId: '04HSGXXQD5',
            //     indexName: 'a7ec2763a5d966a5b9f8d70b254bfb68',
            //     poweredBy: true,
            //     urlSync: true,
            //     stalledSearchDelay: 500,
            //     searchParameters: {
            //         restrictSearchableAttributes: [
            //             'title',
            //             'content'
            //         ]
            //     }

            // });


            const search = instantsearch({
                indexName: 'sheldonhull',
                searchClient: algoliasearch(
                    '04HSGXXQD5',
                    'a7ec2763a5d966a5b9f8d70b254bfb68'),
                poweredBy: true,

                stalledSearchDelay: 500

            });
            // Create a render function
            // const renderSearchBox = (renderOptions, isFirstRender) => {
            //     const { query, refine, clear, isSearchStalled, widgetParams } = renderOptions;

            //     if (isFirstRender) {
            //         const input = document.createElement('input');
            //         // input.classList.add('algolia-input-box');
            //         const loadingIndicator = document.createElement('span');
            //         loadingIndicator.textContent = 'Loading...';

            //         const button = document.createElement('button');
            //         button.textContent = 'X';

            //         input.addEventListener('input', event => {
            //             refine(event.target.value);
            //         });

            //         button.addEventListener('click', () => {
            //             clear();
            //         });

            //         widgetParams.container.appendChild(input);
            //         widgetParams.container.appendChild(loadingIndicator);
            //         widgetParams.container.appendChild(button);
            //     }

            //     widgetParams.container.querySelector('input').value = query;
            //     widgetParams.container.querySelector('span').hidden = !isSearchStalled;
            // };

            // // create custom widget
            // const customSearchBox = instantsearch.connectors.connectSearchBox(
            //     renderSearchBox
            // );

            // // instantiate custom widget
            // search.addWidgets([
            //     customSearchBox({
            //         container: document.querySelector('#instantsearch-input'),
            //     })
            // ]);


                // const search = instantsearch({
                //     indexName: 'sheldonhull',
                //     searchClient: algoliasearch(
                //         '04HSGXXQD5',
                //         'a7ec2763a5d966a5b9f8d70b254bfb68'),
                //     poweredBy: true,
                //     urlSync: true,
                //     stalledSearchDelay: 500

                // });
z
                search.addWidget(
                    instantsearch.widgets.searchBox({
                        container: '#instantsearch-input2',
                        placeholder: 'Type To Search',
                        autofocus: true,
                        searchAsYouType: true,
                        showReset: true,
                        showLoadingIndicator: true
                        // ,
                        // cssClasses: {
                        //     item: 'search-input',
                        // },
                    })
                );

                search.start();
        </script> -->



            <script>

    const search = instantsearch({
        indexName: 'sheldonhull',
        searchClient: algoliasearch(
            '04HSGXXQD5',
            'a7ec2763a5d966a5b9f8d70b254bfb68'),
        poweredBy: true,
        urlSync: true,
        stalledSearchDelay: 500

    });

search.addWidget(
    instantsearch.widgets.searchBox({
        container: '#instantsearch-input',
        placeholder: 'Type To Search',
        autofocus: true,
        searchAsYouType: true,
        showReset: true,
        showLoadingIndicator: true
        // cssClasses: {
        //     item: 'search-input',
        // },
    })
);

    search.start();
            </script>
        <!-- The overlay -->
        <!-- Use any element to open/show the overlay navigation menu -->

        {{ if (.Site.Params.search.algolia.app_id) }}

        <div id="instantsearch-input"></div>
        <!-- <span class="search-bar"></span> -->
        <span style="float:right;"><a href="https://www.algolia.com/"><i class="fab fa-algolia"></i></a></span>
        <div id="hits"></div>
        <div class="ais-Hits">
            <ol class="ais-Hits-list">
                <li class="ais-Hits-item">
                    Hit 5477500: Amazon - Fire TV Stick with Alexa Voice Remote - Black
                </li>
                <li class="ais-Hits-item">
                    Hit 4397400: Google - Chromecast - Black
                </li>
                <li class="ais-Hits-item">
                    Hit 4397400: Google - Chromecast - Black
                </li>
                <li class="ais-Hits-item">
                    Hit 5477500: Amazon - Fire TV Stick with Alexa Voice Remote - Black
                </li>
                <li class="ais-Hits-item">
                    Hit 4397400: Google - Chromecast - Black
                </li>
                <li class="ais-Hits-item">
                    Hit 4397400: Google - Chromecast - Black
                </li>
                <li class="ais-Hits-item">
                    Hit 5477500: Amazon - Fire TV Stick with Alexa Voice Remote - Black
                </li>
                <li class="ais-Hits-item">
                    Hit 4397400: Google - Chromecast - Black
                </li>
            </ol>
        </div>
    </div>
    {{ end }}
    </div>
</main>


{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}