{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}
    <div class="page archive wide-list">
        <h2 class="single-title animated pulse faster">
            {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
        </h2>

        {{ $pages := (where .Site.RegularPages.ByTitle "Section" "posts" ) }}
        {{ $section := .Section }}
        {{- if $pages -}}
            {{- $pages_groupbydate := $pages.GroupByDate "2006" -}}
            {{/*- with .Site.Params.section.paginate | default .Site.Params.paginate -*/}}
                {{/*- $pages = $.Paginate $pages . */}}
            {{/*- else - */}}
            {{- $pages_paginated := .Paginate $pages_groupbydate -}}
            {{/*- end -*/}}

            {{- range $pg := $pages_paginated.PageGroups -}}
                <h1 class="group-title">{{ .Key }}</h1>
            {{- /* Static TOC */ -}}
            {{- $toc := true -}}
            {{- if ne $toc false -}}
            {{- $toc_auto := true -}}
            {{- $toc_keepStatic := true -}}
                <div class="details toc" id="toc-static"  kept="{{ if $toc_keepStatic }}true{{ end }}">
                    <div class="details-summary toc-title">
                        <span>{{ T "contents" }}</span>
                        <span><i class="details-icon fas fa-angle-right"></i></span>
                    </div>
                    <div class="details-content toc-content" id="toc-content-static">
                        <nav>
                        {{- range $pg.Pages -}}
                        <ul><a href="{{ .RelPermalink}}/">{{ .Title }}</a></ul>
                        {{- end -}}
                        </nav>
                    </div>
                </div>
            {{- end -}}
                {{- range $pg.Pages -}}


                    {{ with .Params.images }}
                        {{ range first 1 . }}
                            <div class="bg-img"></div>
                        {{- end -}}
                    {{- end -}}

                    <!-- <main class="site-main section-inner thin animated fadeIn faster"> -->
                    {{ if in .Params.tags "microblog" }}
                        <article class="page single">
                            <div class="microblog wide" id="microblog-item">
                                {{- $params := .Scratch.Get "params" -}}
                                <a href="{{- .RelPermalink -}}">
                                    <h1 class="h1-glow">{{ .Title }}</h1>
                                    <div class="post-meta">
                                        <div class="post-meta-line">
                                            {{ partial "webmention-counts.html" . }}
                                        </div>
                                        <div class="post-meta-line">
                                            {{- with .Site.Params.dateformat | default "2006-01-02" | .PublishDate.Format -}}
                                            <i class="far fa-calendar-alt fa-fw"></i>&nbsp;<time datetime="{{ . }}">{{ . }}</time>&nbsp;
                                            {{- end -}}
                                        </div>
                                    </div>
                                </a>
                                <div class="content" id="content wide">
                                    {{ with .Params.images }}
                                        {{ range first 1 . }}
                                                    <div class="featured-image">
                                                    {{- dict "Src" . "Title" $.Description "Resources" $.Resources | partial "plugin/image.html" -}}
                                                </div>
                                        {{- end -}}
                                    {{- end -}}
                                    {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML | truncate 250 -}}
                                    <a href="{{- .RelPermalink -}}"><i class="fas fa-link"><emphasis><tab>&nbsp;&nbsp;read more</emphasis></i></a>
                                </div>
                            <div> <!-- microblog -->
                        </article>
                    {{- else -}}
                        <article class="page single">
                            <div class="microblog wide" id="microblog-item">
                                {{- $params := .Scratch.Get "params" -}}
                                <a href="{{- .RelPermalink -}}">
                                    <h1 class="h1-glow">{{ .Title }}</h1>
                                    <div class="post-meta">
                                        <div class="post-meta-line">
                                            {{ partial "webmention-counts.html" . }}
                                        </div>
                                        <div class="post-meta-line">
                                            {{- with .Site.Params.dateformat | default "2006-01-02" | .PublishDate.Format -}}
                                            <i class="far fa-calendar-alt fa-fw"></i>&nbsp;<time datetime="{{ . }}">{{ . }}</time>&nbsp;
                                            {{- end -}}
                                        </div>
                                    </div>
                                </a>
                                <div class="content" id="content wide">
                                    {{ with .Params.images }}
                                        {{ range first 1 . }}
                                                    <div class="featured-image">
                                                    {{- dict "Src" . "Title" $.Description "Resources" $.Resources | partial "plugin/image.html" -}}
                                                </div>
                                        {{- end -}}
                                    {{- end -}}
                                    {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML | truncate 250 -}}
                                    <!-- https://raw.githubusercontent.com/vjeantet/hugo-theme-docdock/master/exampleSite/content/shortcodes/button.md -->
                                    <a href="{{- .RelPermalink -}}"><i class="fas fa-link"><emphasis><tab>&nbsp;&nbsp;read more</emphasis></i></a>
                                </div>
                            <div>
                        </article>
                    {{- end -}}
                {{- end -}}
            {{- end -}}
    </div>

{{- end -}}
    {{- partial "paginator.html" . -}}
{{- end -}}
