{{ define "head" }}
    {{ if .Params.featuredImg -}}
    <style>.bg-img {background-image: url('{{.Params.featuredImg}}');}</style>
    {{- else if .Params.images -}}
        {{- range first 1 .Params.images -}}
        <style>.bg-img {background-image: url('{{. | absURL}}');}</style>
        {{- end -}}
    {{- end -}}
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
    {{- if (or .Params.images .Params.featuredImg) }}
    <div class="bg-img"></div>
    {{- end }}
    <main class="site-main section-inner thin animated fadeIn faster">
      {{ if isset .Site.Params "yearlymicroblogs" | and ( .Site.Params.yearlymicroblogs ) }}

      {{ partial "yearly_grouping.html" . }}

    {{ else }}

      {{ partial "default_list.html" . }}

    {{ end }}

    </main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
