/* example.css */

html,
body {
  color: #444;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	padding: 20px;
}
highlighter-rouge,
code,
pre,
highlight {
  font-family: 'Fira Mono', monospace !important;
}

/* START CUSTOM GIST STYLE */
body .gist .gist-file {
  margin-bottom: 0;
  border: 1px dashed #adb5bd;
  border-radius: 0;
}

body .gist .gist-data {
  border-bottom: none;
  border-radius: 0;
  background-color: #f1f3f5;
}

body .gist .blob-wrapper {
  border-radius: 0;
}

body .gist .highlight {
  background-color: transparent;
  font-family: 'Fira Mono', monospace !important;
  font-size: 11px;
}

body .gist .highlight td {
  padding: 5px 15px !important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

body .gist tr:first-child td {
  padding-top: 15px !important;
}

body .gist tr:last-child td {
  padding-bottom: 15px !important;
}

body .gist .blob-num {
  color: #ced4da;
  background-color: #495057;
  pointer-events: none;
}

body .gist .gist-meta {
  display: none;
}

.pre-wrapper {
  position: relative;
}
.pre-wrapper pre {
  padding-top: 25px;
}
.pre-wrapper .copy-snippet {
  border-radius: 0;
  min-width: 55px;
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #bbb;
  color: #26589f;
  font-family: 'HELEVETICA', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42rem;
  margin: 0;
  padding: 0px 5px;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  position: absolute;
  background: #ccc;
  top: 0;
  left: 0;
}
.pre-wrapper .copy-snippet:disabled {
  color: #555;
}
/* END CUSTOM GIST STYLE */

/* ADD COPY BUTTON TO GISTS */
.pre-wrapper {
  position: relative;
}

.pre-wrapper pre {
  padding-top: 25px;
}

.pre-wrapper .copy-snippet {
  border-radius: 0;
  min-width: 55px;
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #bbb;
  color: #26589f;
  font-family: 'HELEVETICA', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42rem;
  margin: 0;
  padding: 0px 5px;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  position: absolute;
  background: #ccc;
  top: 0;
  left: 0;
}

.pre-wrapper .copy-snippet:disabled {
  color: #555;
}
/*END ADD COPY BUTTON TO GIST*/
