<button class="js-gitter-toggle-chat-button">Want to chat with me?</button>
<button class="js-gitter-toggle-chat-button" data-gitter-toggle-chat-state="true">Open Chat</button>
<button class="js-gitter-toggle-chat-button" data-gitter-toggle-chat-state="false">Close Chat</button>

<script>
    ((window.gitter = {}).chat = {}).options = {
        room: '{{ .Site.Params.gitter }}', //own room name
        activationElement: false
    };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
