<div id="subscribe-footer">
<link rel="stylesheet" href="https://embed.mailbrew.com/html-embed-style.css" />
<form action="https://embed.mailbrew.com/api/form_subscribe" method="get"
    style="width: 100%; max-width: 340px; color: #dcdcdc; background: #090909; padding: 10px; border-radius: 7px"
    id="mailbrew-embed-form">
    <a href="https://app.mailbrew.com/sheldonhull?aff=sheldonhull" target="_blank" rel="noopener noreferrer"
        style="display: flex; width: 100%; align-items: center; margin-bottom: 6px"><img
            src="https://www.gravatar.com/avatar/b909e5a82474e9853ff6a6c6111cf0cf?s=100&amp;d=404&amp;r=g"
            style="width: 22px; height: 22px; border-radius: 22px; margin-right: 6px" /><span
            style="font-weight: 500; flex: 1 1 auto; min-width: 0">Sheldon Hull</span></a>
    <p style="opacity: 0.75; margin-bottom: 4px">
        ⚡ A curated newsletter of my writing and other interesting posts. Mostly tech focused.
    </p>
    <div style="display: flex; width: 100%; margin-top: 12px">
        <input type="email" style="
        height: 32px;
        font-size: 14.5px;
        border-radius: 6px;
        appearance: none;
        padding: 0 8px;
        border: 1px solid rgba(120, 120, 120, 0.3);
        margin-right: 6px;
        flex: 1;
      " id="email" name="email" placeholder="Your email" value="" /><input type="hidden" name="id"
            value="Ce52fHROTfCr" /><button type="submit" style="
        height: 32px;
        font-size: 14.5px;
        border-radius: 6px;
        appearance: none;
        padding: 0 16px;
        border: none;
        flex: 0 0 auto;
        font-weight: 500;
        cursor: pointer;
        background: #f51616;
        color: white;
      ">
            Subscribe
        </button>
    </div>
    <p id="mailbrew-success-message" style="font-size: 13px; margin-top: 5px; color: green"></p>
    <p id="mailbrew-error-message" style="font-size: 13px; margin-top: 5px; color: red"></p>
    <a href="https://mailbrew.com/?ref=brew-embed" target="_blank" rel="noopener noreferrer"
        style="display: block; font-size: 13px; margin-top: 8px; color: rgba(220, 220, 220, 0.6)">Made with
        <img src="https://mailbrew-assets.s3.us-east-1.amazonaws.com/embed/embed-logo.png" width="18px" height="18px"
            style="margin-bottom: -4px; margin-right: 2px" />Mailbrew</a>
</form>
<script type="text/javascript" src="https://embed.mailbrew.com/html-embed-script.js"></script>
</div>
