<ninja-keys class="dark"></ninja-keys>
<script>
  const ninja = document.querySelector('ninja-keys');
  ninja.data = [
    {
      id: 'Docs',
      title: 'Open Docs',
      hotkey: 'ctrl+shift+d',
      icon: 'file-document-multiple',
      section: 'Docs',
      handler: () => {
        window.open("https://www.sheldonhull.com/docs","_self")
      },
    },
  {
      id: 'Brag',
      title: 'Open Brag Page',
      hotkey: '',
      icon: 'account',
      section: 'Brag',
      handler: () => {
        window.open("https://www.sheldonhull.com/brag","_self")
      },
    },
  ];
</script>
