{{ if .Params.series }}
<div id="series-section">
<hr/>
    {{ $name := index .Params.series 0 }}
	<p><a href="" id="series"></a>
    <div style="font-size:1.4em"><b>{{$name}}</b><i> series</i><br/></p>
    </div>
    {{ $name := $name | urlize }}
    {{ $series := index .Site.Taxonomies.series $name }}
    <table style="border:0px; max-width: 80%;margin-bottom:1em;" class="series">
        {{ range $series.Pages }}

            {{ if eq $.Page.Title .LinkTitle }}
            <tr>
                <td style="width:40%; border:0px; text-overflow: ellipsis;">{{.Date.Format "Jan 02, 2006"}}</td>
                <td style="width:60%; border:0px; text-overflow: ellipsis;"><a href="{{.Permalink}}">{{.LinkTitle}}</a></td>
            </tr>
            {{ else }}
            <tr>
                <td style="width:40%; border:0px; text-overflow: ellipsis;"; border:0px;>{{.Date.Format "Jan 02, 2006"}}</td>
                <td style="width:60%; border:0px; text-overflow: ellipsis;"><a href="{{.Permalink}}">{{.LinkTitle}}</a></td>
            </tr>
            {{ end }}
        {{end}}
    </table>
    <hr/>
    <br>

</div>
{{end}}
