{{ $currentPage := .page }}
{{ $parentPage := .parent }}
{{ $class := .class }}

{{ if $currentPage.IsSection }}
  <li data-issection="1">
    <a href="{{ $currentPage.RelPermalink }}" class="{{ $class }}">{{ $currentPage.Title }}</a>
    {{ if ne $class "single-file-directory" }}
      <ul class="sub-menu">
        {{ range $child := $currentPage.Pages }}
          {{/* Avoid processing the index page of the section again */}}
          {{ if ne $child.File.BaseFileName "_index" }}
            {{/* Render the child page */}}
            {{ partial "sidebar-tree.html" (dict "page" $child "parent" $currentPage "class" "directory") }}
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  </li>
{{ else }}
  {{/* Regular page - only render if the page's parent is the same as the passed parent page */}}
  {{ if eq $currentPage.Parent $parentPage }}
    <li><a href="{{ $currentPage.RelPermalink }}" class="direct-page">{{ $currentPage.Title }}</a></li>
  {{ end }}
{{ end }}