{{"<!-- begin gallery shortcode //-->" | safeHTML}}
<p>
<!-- get metadata from 1st two params 0=galleryname, 1=caption -->
{{ $meta :=  first 2 .Params }}
<!-- everything after 1st two params is an image -->
{{ $images :=  after 2 .Params }}


<!-- begin loop through $images -->
{{range $images}}
<a data-fancybox="{{index $meta 0 }}" href="/images/{{ . }}" data-caption="{{index $meta 1}}"><img src="/images/{{ . }}"></a>
<!-- end loop through $images -->
{{end}}
</p>
{{"<!-- end gallery shortcode //-->" | safeHTML}}