{{ $galleryname := default (.Get "id") "gallery" }}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{{/* ####### Lazy Load ####### */}}
<script>
  // Set the options globally
  // to make LazyLoad self-initialize
  window.lazyLoadOptions = {
    // Your custom settings go here
  };
  // Listen to the initialization event
  // and get the instance of LazyLoad
  window.addEventListener(
    "LazyLoad::Initialized",
    function (event) {
      window.lazyLoadInstance = event.detail.instance;
    },
    false
  );
</script>

<script
  async
  src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.5/dist/lazyload.min.js"
></script>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.4/photoswipe.min.css"
  integrity="sha512-LFWtdAXHQuwUGH9cImO9blA3a3GfQNkpF2uRlhaOpSbDevNyK1rmAjs13mtpjvWyi+flP7zYWboqY+8Mkd42xA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
  onload="this.media='all'"
/>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.4/umd/photoswipe-lightbox.umd.min.js"
  integrity="sha512-D16CBrIrVF48W0Ou0ca3D65JFo/HaEAjTugBXeWS/JH+1KNu54ZOtHPccxJ7PQ44rTItUT6DSI6xNL+U34SuuQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.4/umd/photoswipe.umd.min.js"
  integrity="sha512-BXwwGU7zCXVgpT2jpXnTbioT9q1Byf7NEXVxovTZPlNvelL2I/4LjOaoiB2a19L+g5za8RbkoJFH4fMPQcjFFw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

{{/* ####### Photoswipe ####### */}}

{{/* photoswipe documentation: https://photoswipe.com/getting-started/

  Required HTML markup
  Each element that matches the selector should be or should contain link <a> element. The link must have such attributes:

  Image URL in href or data-pswp-src attribute (latter has higher priority).
  Image width in data-pswp-width.
  Image height in data-pswp-height.
  And optionally:

  <img> thumbnail within the link element that will be displayed before the large image is loaded (applied only for the first image, can be adjusted via thumbSelector).
  Optional data-cropped="true" attribute if thumbnail is cropped. See also Animating from Cropped Thumbnail.
*/}}

{{/* photoswipe: generate the html for gallery */}}
<div id="{{ $galleryname }}" class="pswp-gallery">
  {{ $imageResources := .Page.Resources.ByType "image" }}
  {{ range $img := sort $imageResources "Name" "desc" }}
    {{ $thumbnail := $img.Resize "320x" }}
    {{ $filename := $img.Name }}
    {{ $extension := path.Ext $img.RelPermalink }}
    {{ $metafile := printf "%s.meta" (strings.TrimSuffix $extension $filename ) }}

    {{ $caption := "" }}

    {{ with $.Page.Resources.GetMatch $metafile }}
        {{ $caption =  .Content | safeHTML }}
    {{ end }}
    <a
      src="{{ $img.RelPermalink }}"
      data-pswp-src="{{ $img.RelPermalink }}"
      data-pswp-width="{{ $img.Width }}"
      data-pswp-height="{{ $img.Height }}"
      pswp-caption-content="{{ $caption }}"
      class="gallery-item lazy"
      data-cropped="true"
      target="_blank"
    >
      <img
        src="{{ $thumbnail.RelPermalink }}"
        alt="{{ $caption }}"
        class="lazy"
      />
      <span class="pswp-caption-content">{{ $caption }}</span>
    </a>

  {{ end }}
</div>

{{/* photoswipe: initialize photoswipe code

  - modify to use UDM so no ESM required
  - dynamic zoom to help with phone/mobile loading
*/}}


{{/*
  include dynamic capations plugin so it generates these arranges the thumbnails nicely
*/}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe-dynamic-caption-plugin@1.2.7/photoswipe-dynamic-caption-plugin.min.css"
>
{{ $dynamicCaptionJS := resources.Get "/js/photoswipe-dynamic-caption-plugin.umd.min.js" | minify | fingerprint -}}
<script src="{{ $dynamicCaptionJS.RelPermalink }}" {{ printf "integrity=%q" $dynamicCaptionJS.Data.Integrity | safeHTMLAttr }}></script>




<script type="text/javascript">
window.onload = function () {

const PhotoSwipeDynamicCaption = window.PhotoSwipeDynamicCaption; // load using global  variable since I'm not using module


  function isPhonePortrait() {
    return window.matchMedia('(max-width: 600px) and (orientation: portrait)').matches;
  }
  const smallScreenPadding = {
      top: 0, bottom: 0, left: 0, right: 0
  };
  const largeScreenPadding = {
      top: 30, bottom: 30, left: 0, right: 0
  };

  const options = {

    gallery: '#{{ $galleryname }}',
    children: 'a',
    showHideAnimationType: 'fade',
    imageClickAction: 'close',

    // dynamic import is not supported in UMD version
    pswpModule: PhotoSwipe,

    // optionaly adjust viewport
    paddingFn: (viewportSize) => {
      return viewportSize.x < 700 ? smallScreenPadding : largeScreenPadding
    },
    // to help with phoone portrait fit
    initialZoomLevel: (zoomLevelObject) => {
      if (isPhonePortrait()) {
        return zoomLevelObject.vFill;
      } else {
        return zoomLevelObject.fit;
      }
    },
    secondaryZoomLevel: (zoomLevelObject) => {
      if (isPhonePortrait()) {
        return zoomLevelObject.fit;
      } else {
        return 1;
      }
    },
    maxZoomLevel: 1,

    // use dynamic captions plugin and include extra padding in the otptions
    paddingFn: (viewportSize) => {
      return {
        top: 30, bottom: 30, left: 70, right: 70
      }
    },

  //   addCaptionHTMLFn: function(item, captionEl, isFake) {
  //   if (!item.title) {
  //     captionEl.children[0].innerText = '';
  //     return false;
  //   }
  //   captionEl.children[0].innerHTML = item.title;
  //   return true;
  // },
  };

  const lightbox = new PhotoSwipeLightbox(options);

  const captionPlugin = new PhotoSwipeDynamicCaption(lightbox, {
        mobileLayoutBreakpoint: 700,
        type: 'auto',
        mobileCaptionOverlapRatio: 1
  });




  // register a download button options
  lightbox.on('uiRegister', function() {
    lightbox.pswp.ui.registerElement({
      name: 'download-button',
      order: 8,
      isButton: true,
      tagName: 'a',

      // SVG with outline
      html: {
        isCustomSVG: true,
        inner: '<path d="M20.5 14.3 17.1 18V10h-2.2v7.9l-3.4-3.6L10 16l6 6.1 6-6.1ZM23 23H9v2h14Z" id="pswp__icn-download"/>',
        outlineID: 'pswp__icn-download'
      },

      // Or provide full svg:
      // html: '<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" class="pswp__icn"><path d="M20.5 14.3 17.1 18V10h-2.2v7.9l-3.4-3.6L10 16l6 6.1 6-6.1ZM23 23H9v2h14Z" /></svg>',

      // Or provide any other markup:
      // html: '<i class="fa-solid fa-download"></i>'

      onInit: (el, pswp) => {
        el.setAttribute('download', '');
        el.setAttribute('target', '_blank');
        el.setAttribute('rel', 'noopener');

        pswp.on('change', () => {
          console.log('change');
          el.href = pswp.currSlide.data.src;
        });
      }
    });
  });


  lightbox.init();
};

</script> {{/* ####### JUSTIFIED GALLERY  #######
  arranges the thumbnails nicely
*/}}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.8.1/css/justifiedGallery.min.css"
  onload="this.media='all'"
/>
<script
  async
  src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.8.1/js/jquery.justifiedGallery.min.js"
></script>

<script>
$(window).on('load', function () {
  $("#{{ $galleryname }}").justifiedGallery({
    // your options here
    lastRow: 'nojustify',
    margins: 5
  });
});

</script>
{{/* Alternative after everything is loaded, but it means page readjusts slowly and is visible more



  <script type="module">
  window.onload = function () {
    $("#{{ $galleryname}}").justifiedGallery({
      // rowHeight: 200,
      lastRow: "center",
      margins: 5,
    });
  };
</script>



*/}}