{{- define "title" }}
{{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}

{{/* <div class="page archive"> */}}

    {{- /* Title */ -}}
    <h2 class="single-title animated pulse faster">
        {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
    </h2>

    {{ $pages := (where .Site.RegularPages.ByTitle "Section" "microblog" ) }}
    {{ $section := .Section }}
    {{- /* Paginate */ -}}
    {{- if $pages -}}
    {{- $pages := $pages.GroupByDate "2006" -}}
    {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
    {{- $pages = $.Paginate $pages . -}}
    {{- else -}}
    {{- $pages = .Paginate $pages -}}
    {{- end -}}
    {{- range $pages.PageGroups -}}
    <h1 class="group-title">{{ .Key }}</h1>
    {{- range .Pages -}}
    {{- if (or .Params.images .Params.image) }}
    <div class="bg-img"></div>
    {{- end }}
    <!-- <main class="site-main section-inner thin animated fadeIn faster"> -->

    <article class="page single">
        <div class="microblog" id="microblog-item">
            {{- $params := .Scratch.Get "params" -}}
            <a href="{{- .RelPermalink -}}">
                <h1 class="h1-glow">{{ .Title }}</h1>
                <div class="post-meta">
                    <div class="post-meta-line">
                        {{- with .Site.Params.dateformat | default "2006-01-02" | .PublishDate.Format -}}
                        <i class="far fa-calendar-alt fa-fw"></i>&nbsp;<time datetime="{{ . }}">{{ . }}</time>&nbsp;
                        {{- end -}}
                    </div>
                </div>
            </a>
            <div class="content" id="content">

            {{- /* Featured image */ -}}
            {{- $image := $params.featuredimage -}}
            {{- with .Resources.GetMatch "featured-image" -}}
            {{- $image = .RelPermalink -}}
            {{- end -}}
            {{- with $image -}}

            <div class="featured-image">
                {{- dict "Src" . "Title" $.Description "Resources" $.Resources | partial "plugin/image.html" -}}
            </div>
        {{- end -}}
                {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
            </div>
        <div>
    </article>
</div>
<!-- </main> -->
{{- end -}}
{{- end -}}
{{- partial "paginator.html" . -}}
{{- end -}}
{{/* </div> */}}
{{- end -}}
