{{ define "head" }}
    {{ if .Params.featuredImg -}}
    <style>.bg-img {background-image: url('{{.Params.featuredImg}}');}</style>
    {{- else if .Params.images -}}
        {{- range first 1 .Params.images -}}
        <style>.bg-img {background-image: url('{{. | absURL}}');}</style>
        {{- end -}}
    {{- end -}}
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
    {{- if (or .Params.images .Params.featuredImg) }}
    <div class="bg-img"></div>
    {{- end }}
    <main class="site-main section-inner animated fadeIn faster">
      <article class="microblog">
        <div class="content">
        {{ .Content }}
        <a href='{{ .Permalink }}'><aside class="dates"><i class="fas fa-calendar"></i>&nbsp;{{ .Date.Format "2006/01/02 3:04 PM" }}</aside></a>
                {{- with .Params.tags -}}
                    {{- range . -}}
                        <i class="fas fa-hashtag fa-xs"></i><a class="tag-link" href="{{ "tags/" | absURL }}{{ . | urlize }}">{{.}}</a>&nbsp;
                    {{- end -}}
                {{- end -}}
        </div>
      </article>
    </main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
