{{/* set default values if no custom ones are defined */}}
{{ $text := or .Site.Params.font.text "Source Sans Pro" }}
{{ $code := or .Site.Params.font.code "Fira Code" }}
<link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ $text }}:400,700|{{ replace  $code " " "+" | safeURL }}">
<!-- <style>
  body, input {
    font-family: '{{ $text }}', Helvetica, Arial, sans-serif;
  }
  pre, code {
    font-family: '{{ $code }}', 'Courier New', 'Courier', monospace;
  }
</style> -->

  {{ range .Site.Params.custom_css -}}
  <link rel="stylesheet" href="{{ . | absURL }}">
  <!-- add the button style & script -->
  {{- end }}
