<div id="homepage-subscribe">
<script type="text/javascript" nonce="69f9a0e590dc401f9734671e780"
    src="//injections.adguard.org?ts=1612117579454&amp;type=content-script&amp;dmn=embed.mailbrew.com&amp;app=com.google.Chrome.helper&amp;css=1&amp;js=1&amp;gcss=1&amp;rel=1&amp;rji=1&amp;sbe=0"></script>
<script type="text/javascript" nonce="69f9a0e590dc401f9734671e780"
    src="//injections.adguard.org?ts=1612117579454&amp;name=AdGuard%20Popup%20Blocker&amp;name=AdGuard%20Assistant&amp;name=AdGuard%20Extra&amp;type=user-script"></script>
<link rel="stylesheet" href="https://embed.mailbrew.com/html-embed-style.css" />
<form action="https://embed.mailbrew.com/api/form_subscribe" method="get"
    style="width: 100%; max-width: 340px; color: #262629; background: transparent; padding: 10px; border-radius: 7px; "
    id="mailbrew-embed-form">
    <div style="display: flex; width: 100%; margin-top: 0">
        <input type="email" style="

        height: 32px;
        font-size: 14.5px;
        border-radius: 6px;
        appearance: none;
        padding: 0 8px;
        border: 1px solid rgba(120, 120, 120, 0.3);
        margin-right: 6px;
        flex: 1;
      " id="email" name="email" placeholder="Your email" value="" /><input type="hidden" name="id"
            value="Ce52fHROTfCr" /><button type="submit" style="
        height: 32px;
        font-size: 14.5px;
        border-radius: 6px;
        appearance: none;
        padding: 0 16px;
        border: none;
        flex: 0 0 auto;
        font-weight: 500;
        cursor: pointer;
        background: #f75858;
        color: white;
      ">
            Subscribe
        </button>
    </div>
    <p id="mailbrew-success-message" style="font-size: 13px; margin-top: 5px; color: green"></p>
    <p id="mailbrew-error-message" style="font-size: 13px; margin-top: 5px; color: red"></p>
</form>
<script type="text/javascript" src="https://embed.mailbrew.com/html-embed-script.js"></script>




</div>
