<script>
    /* Open when someone clicks on the span element */
    function openNav() {
        document.getElementById("search-overlay").style.width = "100%";
        document.getElementById("searchButton").style.display = "none";
        document.querySelector(".ais-SearchBox-input").focus();

    }

    /* Close when someone clicks on the "x" symbol inside the overlay */
    function closeNav() {
        document.getElementById("search-overlay").style.width = "0%";
        document.getElementById("searchButton").style.display = "block";

    }
</script>
<script>
    $(document).ready(function () {
    window.addEventListener('keydown', function (e) {
        if ((e.key == 'Escape' || e.key == 'Esc' || e.keyCode == 27)) {
            /*&& (e.target.nodeName=='BODY')*/
            e.preventDefault();
            document.getElementById("search-overlay").style.width = "0%";
            document.getElementById("searchButton").style.display = "block";
            return false;
        }
    }, true);
})
</script>

{{ if (.Site.Params.search.algolia.app_id) }}
<div id="searchButton" class="search-button active" onclick="openNav()">
    <a href='#search-input' class='search-button'> Search <i class="fas fa-search" aria-hidden="true"></i></a></div>

<div id="search-overlay" class="overlay" onclick="closeNav()">
    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div id="search-searchbar"></div>
    <!-- Overlay content -->
    <div class="container">
        <div class="overlay-content">
            <div id="searchbox" class="search-input"></div>
            <div id="hits"></div>
            <div id="pagination"></div>
            <!-- <input autocomplete=off id="searchbox" class="search-input" type="search"> -->

            <!-- <span class="search-bar"></span> -->
            <span class="esc-note">press <strong>ESC</strong> to close</span>
            <span style="float:right;"><a href="https://www.algolia.com/"><i class="fab fa-algolia"></i></a></span>
            <div id="hits">
            </div>
        </div>
    </div>

</div>

</div>
{{ end }}
